@import url('./Fonts/Agrandir-Regular.otf');

*{
    margin: 0px;
    padding: 0px;  
  
}

body {
    
    width: 100vw;
    font-family: 'agrandir', regular;
    margin-top: 0px;
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    
}

.container{
    max-width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
   
}



.containerHeader{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(114, 113, 36, 0.3);
    border: 2px dotted #727124;
    position: sticky;
    top: 0;
}

.tituloAmbulante{
    width: 20%;
    height: auto;
}

.tituloBienvenidos{
    color: #727124;
    font-size: 25px;
}

.title-cards{
    display: flex;
    justify-content: center;
    margin: 15px;
}

.h1{
    display: flex;
    justify-content: center;
    padding-top: 10%;

}

.container-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    width: 100vw;
    height: 20vh;
    border: 0.5px solid #727124;
    padding: 10px;
    margin: 20px;
    border-radius: 1.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(114, 113, 36, 0.1);
    
}

.imagenMenu{
    display: flex;
    width: 10vw;
    height: 20vh;
    opacity: 0.8;
}

.textoCard{
    text-decoration: none;
    font-size: 15px;
    color: rgba(114, 113, 36, 0.9);
}




 /* media querys */ 

 @media screen and (max-width: 914px) {
    @font-face {
        font-family: 'agrandir';
        font-style: regular;
        font-weight: 400;
        src:
          local("agrandir"),
          url("./Fonts/Agrandir-Regular.otf") format("otf"),
      }
    body{
        font-family: 'agrandir', regular;
       
    }

    main{
        max-width: 100%;
        overflow: hidden;
    }

    .container{
        width: 100vw;
       
    }
    .imagenMenu{
        display: flex;
        width: 20vw;
        height: 10vh;
        opacity: 0.8;
    }

    .card{
        width: 25vw;
        height: 15vh;
    }

    .tituloAmbulante {
        width: 70%;
        height: 40%;
    }

    .container-card{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .containerHeader{
        width: 100%;
        height: 50%;
        border: 1.5px dotted #727124;
        flex-direction: column;
        
    }

    .textoCard{
        text-decoration:none;
        font-size: 15px;
        color: rgba(114, 113, 36, 0.9);
        text-align: center;
        padding-bottom: 10px;
        
    }

    #link{
        text-decoration: none;
    }

    .tituloBienvenidos{
        color: #727124;
        font-size: 20px;
        padding: 10px;
        padding-bottom: 20px;
    }

    .footer{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(114, 113, 36, 0.3);
        border: 1px dotted #727124;
        
        
        bottom: 0;
       
    }

    .textoini{
        color: #727124;
        text-align: center;
        font-size: 18px;
        padding: 40px;
    }

    .titulos{
        text-decoration: underline;
        color: #727124;
        padding-bottom: 20px;        
    }

    .textredes{
        padding-top: 5px;
    }
    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        padding: 3px;
        font-size: 10px;
        overflow: hidden;
    }

    .carta{
        padding-top: 20px;
    }


    .contentTabla{
        display: flex;
        flex-direction: column;
        align-content: space-between;
        align-items: stretch;
        width: 100%;
        padding: 5px;
        color: #727124;
        padding-top: 40px;
        overflow: hidden;
    }

    .posAbsolut{
        position: fixed;
        
       
    }

    .padd10{
        padding: 10px;
    }

    .padd20{
        padding: 20px;
        align-items: center;
    }

    .paddRight{
        padding-right: 43px;
    }

    .paddRight30{
        padding-right: 10px;
    }

    .maxWidth{
        width: 100%;
    }

    .fontSize1{
       
        font-weight: bolder;
    }
    
    .conteinerTablas{
        max-width: 100%;
    }
}


 @media screen and (max-width: 667px){
    .footer{
        position: relative;
    }
}